<section>
  <main>
    <mat-toolbar color="primary" class="navbar">
      <div>TrabalhoAcademify</div>
      <div>
        <span><a routerLink="/home" routerLinkActive="active" style="text-decoration:none">Pagina Inicial</a></span>
        <span><a routerLink="/incluir" routerLinkActive="active" style="text-decoration:none">Incluir Aluno</a></span>
        <span><a routerLink="/listar" routerLinkActive="active" style="text-decoration:none">Listar Alunos</a></span>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </main>
</section>
